
  <html>
    
  <%- include('./partials/head.ejs')%>
    <body>
     
    <%- include('./partials/nav.ejs')%>
    <div class="details content">
      <h1> <%= note.header %></h1>
      
      <div>
      <p><%= note.content %></p>
        
        </div>
        <a class="delete"  data.doc="<%= note._id %>">Delete</a>
    </div>
        <%- include('./partials/footer.ejs')%>
          <script>
const trashcan = document.querySelector('a.delete');

trashcan.addEventListener('click', (e) => {
      const endpoint = `/notes/${trashcan.dataset.doc}`;

fetch(endpoint,{
             
        method: 'DELETE'
})
      .then((response)  => response.json ())
      .then ((data) => window.location.href = data.redirect)
      .catch(err  =>console.log(err))
})
 </script>           
            </body>
            </html>    