<!DOCTYPE html>
  <html>
    
  <%- include('head.ejs')%>
    <body>
      
   

   
     
    <%- include('nav.ejs')%>
     <div class="profile-content">
      <h1> <%= user._username %> </h1>
      <h3> <%= user._email %>

        </h3>
        </div>
        <%- include('footer.ejs')%>
          
            
            </body>
            </html>    
